#publications-title{
    grid-template-columns: 1fr;
    padding: 2rem;
}

#publication-body {
    padding: 2rem;
    margin: 1rem 0;
    text-align: justify;
    border-radius: 3rem;
    background: var(--color-navbar-background);
    transition: var(--transition);
    grid-template-columns: 80% 20%;
}

#publication-body:hover {
    background: var(--color-navbar-background-hover);
}

#publication-body #publication-text{
    padding: 2rem;
}

#publication-body  #publication-icons {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}


#abstract-body #abstract-text{
    text-align: justify;
    padding: 2rem;
    border-radius: 3rem;
    background: white;
    border: 1px dashed black;
}


#publication-body a {
    font-size: 3rem;
    background: var(--color-navbar-background);
    width: fit-content;
    padding: 1rem;
    border-radius: 3rem;
    transition: var(--transition);
}

#publication-body a:hover {
    background: var(--color-navbar-background-hover);
}

#publication-body button {
    color: var(--color-hyperlink);
    font-size: 3rem;
    background: var(--color-navbar-background);
    width: fit-content;
    padding: 1rem;
    border-radius: 3rem;
    transition: var(--transition);
}

#publication-body button:hover {
    color: var(--color-hyperlink-active);
    background: var(--color-navbar-background-hover);
}

@keyframes inAnimation {
    0% {
        height: 0;
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
  }
  
  @keyframes outAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
        height: 0;
    }
  }

/* =================== MEDIA QUERIES (MEDIUM DEVICES) ==================== */
@media screen and (max-width: 1024px) {
    #publication-body {
        grid-template-columns: 1fr;
    }

    #publication-body #publication-icons {
        flex-direction: row;   
        padding: 2rem 0;
        gap: 4rem;
    }
}

/* =================== MEDIA QUERIES (SMALL DEVICES) ==================== */
@media screen and (max-width: 600px) {
    #publication-body #publication-text{
        padding: 1rem;
    }

    #publication-body {
        padding: 1rem;
    }

    #abstract-body #abstract-text{
        padding: 1rem;
    }
  }
  