.publication {
    padding: 2rem;
    margin: 1rem 0;
    text-align: justify;
    border-radius: 3rem;
    background: var(--color-navbar-background);
    transition: var(--transition);

    display: grid;
    grid-template-columns: 80% 20%;
}


.publication-text{
    padding: 1rem;
    border: 1px red solid;
}

.publication:hover {
    background: var(--color-navbar-background-hover);
}

.publication > .publication-icons {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

#publications-body a {
    font-size: 3rem;
    background: var(--color-navbar-background);
    width: fit-content;
    padding: 1rem;
    border-radius: 3rem;
    transition: var(--transition);
}

#publications-body a:hover {
    background: var(--color-navbar-background-hover);
}
