#about-title{
    grid-template-columns: 1fr;
    padding: 2rem;
}

#about-body {
    text-align: justify;
    grid-template-columns: 50% 50%;
}

#about-body > .container-column{
    padding: 2rem;
}

#about-body #my-photo-shadow{
    width: 25rem;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    border-radius: 5rem;
}

#about-body img {
    border-radius: 5rem;
    transform: rotate(10deg);
    transition: var(--transition);
}

#about-body img:hover{
    transform: rotate(0deg);
}

/* =================== MEDIA QUERIES (MEDIUM DEVICES) ==================== */
@media screen and (max-width: 1024px) {
    #about-body{
        grid-template-columns: 1fr;
    }
  
}

/* =================== MEDIA QUERIES (SMALL DEVICES) ==================== */
@media screen and (max-width: 600px) {

}


