#about-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-content: center;
    text-align: justify;
}

#about-container > #header-row{
    padding-top: 2rem;
    padding-bottom: 2rem;

}

#about-container .my-photo-block {
    padding: 0rem 3rem;
    align-items: center;
    display: flex;
}

#about-container .my-photo-shadow{
    background: black;
    border-radius: 5rem;
}

#about-container img {
    border-radius: 5rem;
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(10deg);
}

#about-container img:hover{
    transform: rotate(0deg);
    transition: var(--transition);
}


