#about-container {
    display: grid;
    grid-template-rows: fit-content;
}

#about-body {
    text-align: justify;
    display: grid;
    grid-template-columns: 50% 50%;
}

#about-container .my-photo-shadow{
    width: 20rem;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    border-radius: 5rem;
}

#about-container img {
    border-radius: 5rem;
    transform: rotate(10deg);
    transition: var(--transition);
}

#about-container img:hover{
    transform: rotate(0deg);
}

/* =================== MEDIA QUERIES (MEDIUM DEVICES) ==================== */
@media screen and (max-width: 1024px) {
    #about-container #about-body{
        grid-template-columns: 1fr;
    }
  
}

/* =================== MEDIA QUERIES (SMALL DEVICES) ==================== */
@media screen and (max-width: 600px) {

}


