#news-title{
    grid-template-columns: 1fr;
    padding: 2rem;
}

#news-item{
    grid-template-columns: 15% 1px auto;
    background: var(--color-navbar-background);
    border-radius: 3rem;
    padding: 2rem;
    margin: 2rem 0;
    transition: var(--transition);
}

#news-item:hover{
    background: var(--color-navbar-background-hover);
}

#news-item #news-date{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: 100%;
}

#news-item #news-content{
    text-align: justify;
    padding: 1rem;
}

#news-separator{
    height: 100%;
    width: 1px;
    background: black;
}

/* =================== MEDIA QUERIES (SMALL DEVICES) ==================== */
@media screen and (max-width: 600px) {
    #news-item{
      padding: 1rem;
    }
  }
