@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

:root {
  --color-bg: rgba(220, 217, 217, 1);
  --color-text-primary: black;
  --color-hyperlink: rgb(80,152,184);
  --color-hyperlink-active: rgb(0, 179, 255);
  --color-navbar-background: rgba(0,0,0,0.3);
  --color-navbar-background-hover: rgba(0,0,0,0.2);
  --transition: all 800ms ease;

  --container-width-lg: 1024px;
  --container-width-md: 80%;
  --container-width-sm: 90%;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  display: none;
}

.App{
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Poppins', 'sans-serif';
  background: var(--color-bg);
  color: var(--color-text-primary);
  background-image: url(../src/assets/bg-texture.png);
  line-height: 2rem;
}

/*
body::before{
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-image: url(../src/assets/bg-texture.png);
}
*/

a {
  color: var(--color-hyperlink)
}

a:hover {
  color: var(--color-hyperlink-active)
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}

img{
  display: block;
  width: 100%;
  object-fit: cover;
}

.section-container{
  width: var(--container-width-lg);
  margin: 0 auto;
  text-align: center;
}

.container-row {
  display: grid;
  padding: 1rem 0;
}

.container-column{
  padding: 2rem;
}

/* =================== MEDIA QUERIES (MEDIUM DEVICES) ==================== */
@media screen and (max-width: 1024px) {

  .section-container{
    width: var(--container-width-md);
    margin-bottom: 10rem;
  }

  .container-row {
    padding: 0;
  }

  .container-column{
    padding: 2rem 0;
  }
  
}

/* =================== MEDIA QUERIES (SMALL DEVICES) ==================== */
@media screen and (max-width: 600px) {
  .section-container{
    width: var(--container-width-sm);
    margin-bottom: 15rem;
  }
}