@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

:root {
  --color-bg: white;
  --color-text-primary: black;
  --color-hyperlink: rgb(80,152,184);
  --transition: all 400ms ease;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  display: none;
}

body {
  margin: 0;
  font-family: 'Poppins', 'sans-serif';
  background: var(--color-bg);
  color: var(--color-hyperlink);
}

a {
  color: var(--color-hyperlink)
}

